

<!--===== Pre-Loading area Start =====-->

<!--==== Pre-Loading Area End ====-->

<!-- Header Area Start Here -->


  <!-- Main Header Area Start -->


<!-- Shop Main Area Start Here -->
<div class="shop-main-area">
  <div class="container container-default custom-area">
    <div class="row flex-row-reverse">
      <div class="col-lg-9 col-12 col-custom widget-mt">
        <!--shop toolbar start-->
        <!--shop toolbar end-->
        <!-- Shop Wrapper Start -->
        <div class="row shop_wrapper grid_3">
          <div class="col-md-6 col-sm-6 col-lg-4 col-custom product-area" *ngFor="let produit of produits">
            <div class="product-item">
              <div class="single-product position-relative mr-0 ml-0">
                <div class="product-image">
                  <a class="d-block" href="product-details.html">
                    <img src="assets/images/product/1.jpg" alt="" class="product-image-1 w-100">
                    <img src="assets/images/product/2.jpg" alt="" class="product-image-2 position-absolute w-100">
                  </a>
                  <span class="onsale">Sale!</span>
                  <div class="add-action d-flex flex-column position-absolute">
                    <a href="compare.html" title="Compare">
                      <i class="fa fa-sync" data-toggle="tooltip" data-placement="left" title="Compare"></i>
                    </a>
                    <a href="wishlist.html" title="Add To Wishlist">
                      <i class="fa fa-heart" data-toggle="tooltip" data-placement="left" title="Wishlist"></i>
                    </a>
                    <a href="#exampleModalCenter" title="Quick View" data-toggle="modal" data-target="#exampleModalCenter">
                      <i class="fa fa-eye" data-toggle="tooltip" data-placement="left" title="Quick View"></i>
                    </a>
                  </div>
                </div>
                <div class="product-content">
                  <div class="product-title">
                    <h4 class="title-2"> <a href="product-details.html">{{produit.nom}}</a></h4>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <div class="price-box">
                    <span class="regular-price ">${{produit.prix}}</span>
                    <span class="old-price"><del>${{produit.prix}}</del></span>
                  </div>
                  <a (click)="addToCart(produit,2)" class="btn product-cart">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Shop Wrapper End -->
        <!-- Bottom Toolbar Start -->
        <div class="row">
          <div class="col-sm-12 col-custom">
            <div class="toolbar-bottom">
              <div class="pagination">
                <ul>
                  <li *ngFor="let page of [].constructor(totalPage); let i = index" class="current" (click)="getAllProduit(i)">{{i}} </li>
                  <li class="next"><a href="#">next</a></li>
                  <li><a href="#">&gt;&gt;</a></li>
                </ul>
              </div>
              <p class="desc-content text-center text-sm-right mb-0">Showing 1 - 12 of 34 result</p>
            </div>
          </div>
        </div>
        <!-- Bottom Toolbar End -->
      </div>
      <div class="col-lg-3 col-12 col-custom">
        <!-- Sidebar Widget Start -->
        <aside class="sidebar_widget widget-mt">
          <div class="widget_inner">
            <div class="widget-list widget-mb-1">
              <h3 class="widget-title">Search</h3>
              <div class="search-box">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search Our Store" aria-label="Search Our Store">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget-list widget-mb-1">
              <h3 class="widget-title">Menu Categories</h3>
              <!-- Widget Menu Start -->
              <nav>
                <ul class="mobile-menu p-0 m-0">
                  <li class="menu-item-has-children"><a href="#">Birthday Boqutets</a>
                    <ul class="dropdown">
                      <li><a href="#">Aster</a></li>
                      <li><a href="#">Aubrieta</a></li>
                      <li><a href="#">Basket of Gold</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#">Funeral Flowers</a>
                    <ul class="dropdown">
                      <li><a href="#">Cleome</a></li>
                      <li><a href="#">Columbine</a></li>
                      <li><a href="#">Coneflower</a></li>
                      <li><a href="#">Corepsis</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#">Interior Decor</a>
                    <ul class="dropdown">
                      <li><a href="#">Calendula</a></li>
                      <li><a href="#">Castor Bean</a></li>
                      <li><a href="#">Catmint</a></li>
                      <li><a href="#">Chives</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#">Custom Orders</a>
                    <ul class="dropdown">
                      <li><a href="#">Lily</a></li>
                      <li><a href="#">Rose</a></li>
                      <li><a href="#">Sunflower</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <!-- Widget Menu End -->
            </div>
            <div class="widget-list widget-mb-1">
              <h3 class="widget-title">Price Filter</h3>
              <!-- Widget Menu Start -->
              <form action="#">
                <div id="slider-range"></div>
                <button type="submit">Filter</button>
                <input type="text" name="text" id="amount" />
              </form>
              <!-- Widget Menu End -->
            </div>
            <div class="widget-list widget-mb-1">
              <h3 class="widget-title">Categories</h3>
              <div class="sidebar-body">
                <ul class="sidebar-list">
                  <li><a href="#">All Product</a></li>
                  <li><a href="#">Best Seller (5)</a></li>
                  <li><a href="#">Featured (4)</a></li>
                  <li><a href="#">New Products (6)</a></li>
                </ul>
              </div>
            </div>

          </div>
        </aside>
        <!-- Sidebar Widget End -->
      </div>
    </div>
  </div>
</div>
<!-- Shop Main Area End Here -->



<!-- Scroll to Top Start -->
<a class="scroll-to-top" href="#">
  <i class="lnr lnr-arrow-up"></i>
</a>
<!-- Scroll to Top End -->

