
<!--===== Pre-Loading area Start =====-->

<!--==== Pre-Loading Area End ====-->

<!-- Header Area Start Here -->
<!-- Breadcrumb Area Start Here -->

<!-- Breadcrumb Area End Here -->
<!-- cart main wrapper start -->
<div class="cart-main-wrapper mt-no-text">
  <div class="container custom-area">
    <div class="row">
      <div class="col-lg-12 col-custom">
        <!-- Cart Table Area -->
        <div class="cart-table table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="pro-thumbnail">Image</th>
              <th class="pro-title">Product</th>
              <th class="pro-price">Price</th>
              <th class="pro-quantity">Quantity</th>
              <th class="pro-subtotal">Total</th>
              <th class="pro-remove">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produit of produits">
              <td class="pro-thumbnail"><a href="#"><img class="img-fluid" src="assets/images/product/small-size/1.jpg" alt="Product" /></a></td>
              <td class="pro-title"><a href="#">{{produit.nom}}</a></td>
              <td class="pro-price"><span>${{produit.prix}}</span></td>
              <td class="pro-quantity">
                <div class="quantity">
                  <div class="cart-plus-minus">
                    <input class="cart-plus-minus-box" [value]="produit.quantity"  type="number">
                    <div (click)="substraction()" class="dec qtybutton"><i class="fa fa-minus"></i></div>
                    <div (click)="addition()" class="inc qtybutton"><i class="fa fa-plus"></i></div>
                  </div>
                </div>
              </td>
              <td class="pro-subtotal"><span>${{produit.prix * produit.quantity}}</span></td>
              <td (click)="delete(produit)" class="pro-remove"><a href="#"><i class="fa fa-trash"></i></a></td>
            </tr>

            </tbody>
          </table>
        </div>
        <!-- Cart Update Option -->
        <div class="cart-update-option d-block d-md-flex justify-content-between">l
          <div class="cart-update mt-sm-16">
            <a href="#" class="btn flosun-button primary-btn rounded-0 black-btn">Update Cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 ml-auto col-custom">
        <!-- Cart Calculation Area -->
        <div class="cart-calculator-wrapper">
          <div class="cart-calculate-items">
            <h3>Cart Totals</h3>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td>Sub Total</td>
                  <td>${{prixTotal}}</td>
                </tr>
                <tr>
                  <td>Shipping</td>
                  <td>$30</td>
                </tr>
                <tr class="total">
                  <td>Total</td>
                  <td class="total-amount">${{prixTotal+30}}</td>
                </tr>
              </table>
            </div>
          </div>
          <button (click)="commander()" class="btn flosun-button primary-btn rounded-0 black-btn w-100">Commander</button>
        </div>
      </div>
    </div>
  </div>
</div>

